<table mat-table [dataSource]="favourites" class="mat-elevation-z8">
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let flat"> {{flat.city}} </td>
    </ng-container>
    <ng-container matColumnDef="streetname">
      <th mat-header-cell *matHeaderCellDef> Street Name </th>
      <td mat-cell *matCellDef="let flat"> {{flat.streetname}} </td>
    </ng-container>
    <ng-container matColumnDef="streetnumber">
      <th mat-header-cell *matHeaderCellDef> Street Number </th>
      <td mat-cell *matCellDef="let flat"> {{flat.streetnumber}} </td>
    </ng-container>
    <ng-container matColumnDef="areasize">
      <th mat-header-cell *matHeaderCellDef> Area Size </th>
      <td mat-cell *matCellDef="let flat"> {{flat.areasize}} </td>
    </ng-container>
    <ng-container matColumnDef="hasAC">
      <th mat-header-cell *matHeaderCellDef> Has AC </th>
      <td mat-cell *matCellDef="let flat"> {{flat.hasAC ? 'Yes' : 'No'}} </td>
    </ng-container>
    <ng-container matColumnDef="yearbuilt">
      <th mat-header-cell *matHeaderCellDef> Year Built </th>
      <td mat-cell *matCellDef="let flat"> {{flat.yearbuilt}} </td>
    </ng-container>
    <ng-container matColumnDef="rentprice">
      <th mat-header-cell *matHeaderCellDef> Rent Price </th>
      <td mat-cell *matCellDef="let flat"> {{flat.rentprice}} </td>
    </ng-container>
    <ng-container matColumnDef="dateavailable">
      <th mat-header-cell *matHeaderCellDef> Date Available </th>
      <td mat-cell *matCellDef="let flat"> {{flat.dateavailable | date:'yyyy-MM-dd'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let flat">
        <button mat-icon-button (click)="viewFlat(flat)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="removeFavourite(flat)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Modal Container for Viewing Flat Details -->
<div class="modal" *ngIf="selectedFlatInfo">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <app-flat-details [flatInfo]="selectedFlatInfo"></app-flat-details>
  </div>
</div>
  